Terraform/.terraform/
Terraform/.terraform.lock.hcl
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
credentials.txt
Jenkins/jenkins_credentials
SonarQube-Integration-Jenkins/sonar-cred
